<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AspNetCoreScriptTagHelperOverride</title>
</head>
<body>
        @RenderBody()
        <!-- These will all append the version. -->
        <script src="~/js/site.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="false"></script>
</body>
</html>
